services:
  bank-db:
    image: postgres:16.3
    container_name: bank-db
    hostname: db
    restart: always
    environment:
      POSTGRES_DB: "bank"
      POSTGRES_USER: "bank"
      POSTGRES_PASSWORD: "bank"
    volumes:
      - /home/kinoko/postgresql/bank:/var/lib/postgresql/data
    networks:
       - backend
    ports:
      - "5800:5432"

  bank-api:
    build:
      dockerfile: ./Dockerfile
      context: ./
    restart: always
    image: bank
    container_name: bank
    environment:
      - TZ=Europe/Moscow
      - JAVA_TOOL_OPTIONS=-Duser.timezone=Europe/Moscow
    volumes:
      - /home/kinoko/logs/bank-api:/logs
    networks:
      - backend
    depends_on:
      - bank-db
    ports:
      - "3567:3567"

networks:
  backend:
    external: true
